*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none;
    outline: none;
    font-family:"poppins", sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #000a0a;
    --second-bg-color:#1f2424;
    --text--color:#ededed;
    --main-color:#4c9e9e;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
 
    background: var(--bg-color);
    color: var(--text--color);
    
}

.header{
     position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 9%;;
    top:0;
    left:0;
    z-index:100;
    background: transparent;
    transition: .3s;
   }
   
   .header.sticky{
    background: var(--bg-color);
   }

   .logo{
    position: relative;
    color: var(--text--color);
    font-size: 2.5rem;
    font-weight: 600;
   }

   .logo::before{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    background-color:var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
   }

   .navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--text--color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
   }
   

   .navbar a:hover,
   .navbar a.active{
    color: var(--main-color);
   }
    #menu-icon{
    font-size: 3.6rem;
    color: var(--text--color);
    cursor: pointer;
    display: none;
   }

   section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
   
   } 

   .home{
    display: flex;
    align-items: center;
    padding: 0 9%;
   }


   .home-content{
    max-width: 60rem;
 z-index: 99;
   }

   .home-content h1{
    position: relative;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1px;
   }
   .home-content h1::before{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    background-color:var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
   }

   .home-content h3{
    position: relative;
    font-size: 3.2rem;
    width: 32.8rem;
    font-weight: 700;
    color: var(--text--color);
   }


   .home-content h3::before{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    background-color:var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
   }



   .home-sci{
    position:relative;
    width: 170px;
    top:4rem;
    display: flex;
    justify-content: space-between;
   }

   .home-sci::before{
    content:'';
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    background:var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
    z-index: 2;
   }



   .home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height: 40px;
    background: transparent;
    border:.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
   }

   .home-sci a:hover{
    color:var(--bg-color);
   }

   .home-sci a::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:  var(--main-color);
    z-index: -1;
    transition: .5s;

   }
   .home-sci a:hover::before{
    width: 100%;

   }

.about{
    padding-bottom: 6rem;
    background-color: var(--second-bg-color);
}
.about-container{
    width:100%;
}
.about-container .about-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 4rem;
}
 .about-img{
    position:relative;
    min-width:24rem;
    height: 28rem;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    
}
.about-img::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline:.2rem solid var(--main-color);
    top:1rem;
    left: 1rem;
    z-index: 1;
}

   
 .heading{
    font-size:4rem;
    margin-bottom: 3rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


span{
    color: var(--main-color);
}


 .about-info h3{
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: .1rem;
    color:var(--main-color) ;
}

.about-info p{
    font-size: 1.6rem;
    line-height: 1.3;
    text-align: justify;
    margin: 2rem 0 3rem;
}
hr{
   border: .1rem solid var(--main-color);
}
 
 .btn-box{
    position: relative;
    width: 34.5rem;
    height: 5rem;
    margin-top: 3rem;
    margin-top: 3rem;

}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color) ;
    
    border-radius:.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color:var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box .btn:hover{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2){
    background: transparent;
    color:var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
    background: var(--main-color);
}
.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background:var(--second-bg-color);
    
    z-index: -1;
    transition: .5s;
    
}
.btn-box .btn:hover::before{
    width: 100%;


}


.skill{
    padding-top: 4rem;
    
}
 
.skill .skill-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skill-row .skill-column{
    flex: 1 1 40rem;
}

.skill-content .progress{
padding: 1rem 0;

}

 .skill-content .progress h3{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.skill-content .progress h3 span{
    color: var(--main-color);
}

.skill-content .progress .bar{
    height: 2rem;
    border-radius: .6rem;
    border:.2rem solid var(--main-color);
    padding: .5rem;
    margin:1rem 0;
}

.skill-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

 .skill-column:nth-child(1) .skill-content .progress:nth-child(1) .bar span{
    width: 75%;
}
.skill-column:nth-child(1) .skill-content .progress:nth-child(2) .bar span{
    width: 88%;
}
.skill-column:nth-child(2) .skill-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skill-column:nth-child(2) .skill-content .progress:nth-child(2) .bar span{
    width: 70%;
}

.project{
    background: var(--bg-color);
    min-height: auto;
    padding-bottom: 7rem;
}
.center-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-text h2{
    font-size: 4rem;
}

.project-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap:3rem;
    padding: 6rem;
   
}
.row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
}
.row{
    background: var(--second-bg-color);
    border-radius: 28px;
    border: .2rem solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
}
.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.row h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--text--color);
}
.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 3rem;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--text--color);
}
.row:hover{
    border: .2rem solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}


.contact {
    min-height: auto;
    background: var(--second-bg-color);
    padding-bottom: 7rem;
    
}
 
.center-text h2{
    margin-bottom: 3rem;
}

.contact-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   margin-top: 2rem;
    
   
}

form{
    width:60rem;
}
    

.bx{
    padding: 5px;
    display: inline;
}

 .input-group{
    margin-bottom: 3rem;
    position: relative;
    font-size: 1.6rem;
}
input, textarea{
    width: 100%;
    padding: 1rem;
    outline: 0;
    border-radius: 10px;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    background:var(--text--color);
    resize: none;
}

label{
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    padding: 1rem;
    color: var(--bg-color);
    cursor: text;
    transition: .2s;
    font-size: 1.8rem;
}



input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:focus~label{
    top:-3rem;
    font: 1.8rem;
    color: var(--text--color);

}
.input-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-row .input-group{
    flex-basis: 48%;

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size:1.6rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;

}
.footer-iconTop a i{
 font-size: 2.4rem;
 color:var(--bg-color)
}
.footer-iconTop a:hover i{
    color: var(--main-color);
}



      /* KEYFRAMES ANIMATION */ 
 @keyframes showRight{
    100%{
        width: 0;
    }
   } 

   
/* 
   Breakpoints */

   @media ( max-width: 1200px) {
    html{
        font-size: 55%;
    }
    
}

   @media  (max-width:991px){
    .header{
        padding: 2rem 4%;
    }

    section{
        padding:10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding:2rem 4%;
    }
  
   
    .about-container .about-content{
        display: flex;
        justify-content: center;
     flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    
    }
   
    .skill{
        padding: 2rem 4%;
    }
   
}





@media  (max-width:768px){
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
    display: block;
}

.navbar{
    position: absolute;
    top:100%;
    left:-100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0,.2);
    transition: .25s ease;
    transition-delay: .2s;
    z-index: 1;
}
.navbar.active{
    left:0;
    transition-delay: 0s;
}

.navbar .active-nav{
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background: var(--bg-color);
    border-top:.1rem solid rgba(0, 0, 0,.2);
    z-index: -1;
    transition: .25s ease;
    transition-delay: 0s;
}
.navbar.active .active-nav{
    left:0;
    transition-delay: .25s;
}
.navbar a{
    display: block;
    font-size: 2rem;
    margin:3rem 0;
    transform: translate(-20rem);
    transition: .25s ease;
    transition-delay: 0s;

}
.navbar.active a {
    transform: translate(0);
    transition-delay: .25s;
}

.about-img{
    text-align: center;
}


.input-row{
    display: flex;
    flex-direction: column;
}
.input-row .input-group{
width: 100%;
}
form{
    width: 50rem;
}
}


@media  (max-width:520px){
    html{
        font-size:50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }
    .home-sci{
        width:160px;
    }
    .home-sci a{
        width:38px;
        height: 38px;
    }
   
    .input-row .input-group{
    width: 100%;
    }
    form{
        width: 40rem;
    }

   
} 

 @media  (max-width:462px){
    .home-content h1{
        font-size:5.2rem;

    }

.about-container .about-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
   

}
.footer{
    flex-direction: column-reverse;
    text-align: center;
}
.footer p{
    margin-top: 2rem;
}




.project-content{
    display: flex;
    flex-direction: column;
    
 }
 .row img{
     height: auto;
     width: 100%;
     border-radius: 28px;
 }

 }




 @media (max-width:371px){
    .home{
        justify-content: center;

    }
    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .home-content h1{
        font-size: 5rem;
    }
  
} 
